In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
# Example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [3]:
json_obj

'\n{   "zoo_animal": "Lion",\n    "food": ["Meat", "Veggies", "Honey"],\n    "fur": "Golden",\n    "clothes": null, \n    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]\n}\n'

In [4]:
import json

data = json.loads(json_obj)

data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [5]:
#convert back to json
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [9]:
dframe = DataFrame(data['diet'])

In [10]:
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [11]:
dframe2 = DataFrame([data])

In [12]:
dframe2

,clothes,diet,food,fur,zoo_animal
0,None,"[{'zoo_animal': 'Gazelle', 'food': 'grass', 'f...","[Meat, Veggies, Honey]",Golden,Lion