In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe = DataFrame({'city':['Alma','Brian Head','Fox Park'],
                   'altitude':[3000,4000,5000]})

In [5]:
dframe

   altitude        city
0      3000        Alma
1      4000  Brian Head
2      5000    Fox Park

In [6]:
#Now let's say we wanted to add a column for the States, we can do that with a mapping.

state_map = {'Alma':'Colorado','Brain Head':'Utah','Fox Park':'Wyoming'}

In [7]:
#Now we can map that to our current data frame

dframe['state']=dframe['city'].map(state_map)

In [8]:
dframe

   altitude        city     state
0      3000        Alma  Colorado
1      4000  Brian Head       NaN
2      5000    Fox Park   Wyoming

In [ ]:
# Mapping is a great way to do element-wise transfomations and other data cleaning operations!