In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [3]:
# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

dframe

         date variable     value
0  2000-01-03        A -0.431789
1  2000-01-04        A  0.757253
2  2000-01-05        A  0.068334
3  2000-01-03        B -2.464988
4  2000-01-04        B -0.356264
5  2000-01-05        B -0.301015
6  2000-01-03        C  1.362174
7  2000-01-04        C -0.030022
8  2000-01-05        C -1.074537
9  2000-01-03        D  0.153077
10 2000-01-04        D -1.878795
11 2000-01-05        D  0.388542

In [4]:
#pivot dictionary meaning is 'Central Point'

In [5]:
dframe_piv = dframe.pivot('date','variable','value')

dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.431789 -2.464988  1.362174  0.153077
2000-01-04  0.757253 -0.356264 -0.030022 -1.878795
2000-01-05  0.068334 -0.301015 -1.074537  0.388542