In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
dframe = DataFrame(np.arange(12).reshape((3,4)),
                  index=['Ny','La','Sf'],
                  columns=['A','B','C','D'])

dframe

    A  B   C   D
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11

In [7]:
#Like in series, axis index can also use map

dframe.index.map(str.lower)

array(['ny', 'la', 'sf'], dtype=object)

In [8]:
dframe

    A  B   C   D
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11

In [11]:
dframe.rename(index=str.title,columns=str.lower)

    a  b   c   d
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11

In [12]:
# Use rename if you want to create a transformed version withour modifying the original!

#str.title will capitalize the first letter, lowercasing the columns

In [13]:
# We can also use rename to insert dictionaries providing new values for indexes or columns!

In [17]:
dframe.rename(index={'Ny':'NewYork'},
             columns={'a':'ALPHA'})

         A  B   C   D
NewYork  0  1   2   3
La       4  5   6   7
Sf       8  9  10  11

In [18]:
# If you would like to actually edit the original data set in place, set inplace=True at end of statement