In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [2]:
ser1 = Series([1,2,3,4,1,2,3,4])

In [3]:
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [5]:
ser1.replace(1,np.NaN)

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [6]:
#we can also put input Lists

ser1.replace([1,4],[100,400])

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [8]:
#we can also put input directory

ser1.replace({1:np.NaN})

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64