In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2' :['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0  1.189409 -0.361802  X  alpha
1  1.882072 -0.332228  X   beta
2 -1.659817  0.679929  Y  alpha
3 -1.333611 -0.733280  Y   beta
4 -0.086520 -0.692803  Z  alpha

In [5]:
group1 = dframe['dataset1'].groupby(dframe['k1']) #grouping dataset1 by k1

In [6]:
group1

In [7]:
group1.mean()

k1
X    1.535741
Y   -1.496714
Z   -0.086520
Name: dataset1, dtype: float64

In [8]:
#we can use keys that are cities as well

cities = np.array(['NY','LA','NY','LA','NY'])
month = np.array(['Jan','Feb','Jan','Feb','Jan'])

dframe['dataset1'].groupby([cities,month]).mean()

LA  Feb    0.274231
NY  Jan   -0.185643
Name: dataset1, dtype: float64

In [10]:
#we can also pass column names as keys

dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   1.535741 -0.347015
Y  -1.496714 -0.026676
Z  -0.086520 -0.692803

In [12]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  1.189409 -0.361802
   beta   1.882072 -0.332228
Y  alpha -1.659817  0.679929
   beta  -1.333611 -0.733280
Z  alpha -0.086520 -0.692803

In [13]:
#we can get the group sizes too

dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [24]:
#we can also iterate over groups

for name,group in dframe.groupby('k1'):
   print ("This is the %s group"%name)
   print (group)
   print ('\n')

This is the X group
   dataset1  dataset2 k1     k2
0  1.189409 -0.361802  X  alpha
1  1.882072 -0.332228  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -1.659817  0.679929  Y  alpha
3 -1.333611 -0.733280  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  -0.08652 -0.692803  Z  alpha

In [32]:
#we can iterate over multiple keys 

for (k1,k2),group in dframe.groupby(['k1','k2']):
   print ("Key1=%s Key2=%s"%(k1,k2))

Key1=X Key2=alpha
Key1=X Key2=beta
Key1=Y Key2=alpha
Key1=Y Key2=beta
Key1=Z Key2=alpha

In [33]:
# A possibly useful tactic is creating a dictionary of the data pieces 
group_dict = dict(list(dframe.groupby('k1')))

#Show the group with X
group_dict['X']

   dataset1  dataset2 k1     k2
0  1.189409 -0.361802  X  alpha
1  1.882072 -0.332228  X   beta

In [34]:
dframe

   dataset1  dataset2 k1     k2
0  1.189409 -0.361802  X  alpha
1  1.882072 -0.332228  X   beta
2 -1.659817  0.679929  Y  alpha
3 -1.333611 -0.733280  Y   beta
4 -0.086520 -0.692803  Z  alpha

In [41]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))


group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  1.189409 -0.361802
 1  1.882072 -0.332228
 2 -1.659817  0.679929
 3 -1.333611 -0.733280
 4 -0.086520 -0.692803, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [42]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']] #Grouping by Columns

In [44]:
dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.361802
   beta  -0.332228
Y  alpha  0.679929
   beta  -0.733280
Z  alpha -0.692803