In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
df_left = DataFrame({'key':['X','Y','Z','X','Y'],
                    'data':range(5)})

In [3]:
df_left

   data key
0     0   X
1     1   Y
2     2   Z
3     3   X
4     4   Y

In [5]:
df_right = DataFrame({'group_data':['X','Y']},index=['X','Y'])

In [6]:
df_right

  group_data
X          X
Y          Y

In [7]:
pd.merge(df_left,df_right,left_on='key',right_index=True)

   data key group_data
0     0   X          X
3     3   X          X
1     1   Y          Y
4     4   Y          Y

In [8]:
pd.merge(df_left,df_right,left_on='key',right_index=True,how='outer')

   data key group_data
0     0   X          X
3     3   X          X
1     1   Y          Y
4     4   Y          Y
2     2   Z        NaN

In [9]:
df_left_hr = DataFrame({'key1': ['SF','SF','SF','LA','LA'],
                   'key2': [10, 20, 30, 20, 30],
                   'data_set': np.arange(5.)})
df_right_hr = DataFrame(np.arange(10).reshape((5, 2)),
                   index=[['LA','LA','SF','SF','SF'],
                          [20, 10, 10, 10, 20]],
                   columns=['col_1', 'col_2'])

In [10]:
df_left_hr

   data_set key1  key2
0       0.0   SF    10
1       1.0   SF    20
2       2.0   SF    30
3       3.0   LA    20
4       4.0   LA    30

In [11]:
df_right_hr

       col_1  col_2
LA 20      0      1
   10      2      3
SF 10      4      5
   10      6      7
   20      8      9

In [12]:
# Now we can merge the left by using keys and the right by its index
pd.merge(df_left_hr,df_right_hr,left_on=['key1','key2'],right_index=True)

   data_set key1  key2  col_1  col_2
0       0.0   SF    10      4      5
0       0.0   SF    10      6      7
1       1.0   SF    20      8      9
3       3.0   LA    20      0      1

In [13]:
pd.merge(df_left_hr,df_right_hr,left_on=['key1','key2'],right_index=True,how='outer')

   data_set key1  key2  col_1  col_2
0       0.0   SF    10    4.0    5.0
0       0.0   SF    10    6.0    7.0
1       1.0   SF    20    8.0    9.0
2       2.0   SF    30    NaN    NaN
3       3.0   LA    20    0.0    1.0
4       4.0   LA    30    NaN    NaN
4       NaN   LA    10    2.0    3.0

In [15]:
#we can also use join operation

df_left.join(df_right)

   data key group_data
0     0   X        NaN
1     1   Y        NaN
2     2   Z        NaN
3     3   X        NaN
4     4   Y        NaN