In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [5]:
data1 = Series([1,2,np.nan,4])

In [6]:
data1

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

In [7]:
data1.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
data1.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [9]:
data1.dropna()

0    1.0
1    2.0
3    4.0
dtype: float64

In [11]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

In [12]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [13]:
clean_dframe = dframe.dropna()

In [14]:
clean_dframe #when we use dropna operation, it removes everything NaN value in it

     0    1    2
0  1.0  2.0  3.0

In [15]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [16]:
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [17]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [23]:
dframe.dropna(thresh=3) #Drop a row that dont have at least 3 datapoints (thresh=3)

     0    1    2
0  1.0  2.0  3.0

In [24]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [25]:
dframe.fillna(value=1)

     0    1    2
0  1.0  2.0  3.0
1  1.0  5.0  6.0
2  7.0  1.0  9.0
3  1.0  1.0  1.0

In [26]:
dframe.fillna({0:0,1:1,2:2,3:3}) # fill different values for different columns

     0    1    2
0  1.0  2.0  3.0
1  0.0  5.0  6.0
2  7.0  1.0  9.0
3  0.0  1.0  2.0

In [27]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [28]:
dframe.fillna(0, inplace=True) #to modify existing dframe, use inplace=True

In [29]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  0.0  5.0  6.0
2  7.0  0.0  9.0
3  0.0  0.0  0.0