In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
arr1 = np.arange(9).reshape((3,3))

In [3]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [6]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
ser1 = Series([0,1,2],index=['T','U','V'])

ser2 = Series([3,4],index=['X','Y'])

In [10]:
pd.concat([ser1,ser2],axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [11]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [14]:
# pd.concat([ser1,ser2],axis=1,join_axes=['U','V','Y'])

pd.concat([ser1,ser2],axis=1,join_axes=[['U','V','Y']])

     0    1
U  1.0  NaN
V  2.0  NaN
Y  NaN  4.0

In [15]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [16]:
#Lastly, everything works similarly in DataFrames

dframe1 = DataFrame(np.random.randn(4,3), columns=['X', 'Y', 'Z'])
dframe2 = DataFrame(np.random.randn(3, 3), columns=['Y', 'Q', 'X'])

In [18]:
dframe1

          X         Y         Z
0  1.346184  0.549383 -0.613824
1 -0.518601  1.657056 -1.525420
2  1.424002  1.948743  0.828280
3 -0.140302  1.360805  0.114354

In [19]:
dframe2

          Y         Q         X
0 -0.805583 -0.391071  0.452013
1 -2.314773 -0.467916  1.696752
2  2.046247  1.580968  1.363655

In [20]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN  1.346184  0.549383 -0.613824
1       NaN -0.518601  1.657056 -1.525420
2       NaN  1.424002  1.948743  0.828280
3       NaN -0.140302  1.360805  0.114354
0 -0.391071  0.452013 -0.805583       NaN
1 -0.467916  1.696752 -2.314773       NaN
2  1.580968  1.363655  2.046247       NaN

In [21]:
pd.concat([dframe1,dframe2],axis=1)

          X         Y         Z         Y         Q         X
0  1.346184  0.549383 -0.613824 -0.805583 -0.391071  0.452013
1 -0.518601  1.657056 -1.525420 -2.314773 -0.467916  1.696752
2  1.424002  1.948743  0.828280  2.046247  1.580968  1.363655
3 -0.140302  1.360805  0.114354       NaN       NaN       NaN

In [24]:
#We can ignore the index, now the indexes are ordered from 0 through 6

pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN  1.346184  0.549383 -0.613824
1       NaN -0.518601  1.657056 -1.525420
2       NaN  1.424002  1.948743  0.828280
3       NaN -0.140302  1.360805  0.114354
4 -0.391071  0.452013 -0.805583       NaN
5 -0.467916  1.696752 -2.314773       NaN
6  1.580968  1.363655  2.046247       NaN