In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
dframe = DataFrame({'key1': ['A']*2 +['B']*3,
                     'key2':[2,2,2,3,3]})

In [3]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [4]:
dframe.duplicated() #boolean to find duplicates

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
dframe.drop_duplicates() #drops duplicates from dataframe

  key1  key2
0    A     2
2    B     2
3    B     3

In [6]:
dframe.drop_duplicates('key1')

  key1  key2
0    A     2
2    B     2

In [7]:
dframe.drop_duplicates('key2')

  key1  key2
0    A     2
3    B     3

In [11]:
#By default the first value was taken for the duplicates, we can also take the last value instead
dframe.drop_duplicates(['key1'],keep='last')

  key1  key2
1    A     2
4    B     3