In [1]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [3]:
animals = DataFrame(np.arange(16).reshape((4,4)),
                    index=['Dog','Cat','Bird','Mouse'],
                    columns=['W','X','Y','Z'])

In [4]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [5]:
#Add some NaN values

animals.ix[1:2,['W','Y']]=np.nan

In [6]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [7]:
behaviour_map = {'W':'Good','X':'Bad','Y':'Good','Z':'Bad'}

In [8]:
animal_col = animals.groupby(behaviour_map,axis=1)

In [9]:
animal_col

In [10]:
animal_col.sum()

        Bad  Good
Dog     4.0   2.0
Cat    12.0   NaN
Bird   20.0  18.0
Mouse  28.0  26.0

In [11]:
behav_series = Series(behaviour_map)

In [12]:
behav_series

W    Good
X     Bad
Y    Good
Z     Bad
dtype: object

In [13]:
animals.groupby(behav_series,axis=1).count()

       Bad  Good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2

In [15]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [16]:
#we can apply function on to particular group

animals.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [17]:
# We can also mix functions with arrays,dicts, and Series for groupby methods
keys = ['A','B','A','B']

animals.groupby([len,keys]).max()

        W   X     Y   Z
3 A   0.0   1   2.0   3
  B   NaN   5   NaN   7
4 A   8.0   9  10.0  11
5 B  12.0  13  14.0  15

In [18]:
# We can also use groupby with hierarchaly index levels

#Create a hierarchal column index
hier_col = pd.MultiIndex.from_arrays([['NY','NY','NY','SF','SF'],[1,2,3,1,2]],names=['City','sub_value'])

# Create a dframe with hierarchal index
dframe_hr = DataFrame(np.arange(25).reshape(5,5),columns=hier_col)

#Multiply values by 100 for clarity
dframe_hr = dframe_hr*100

#Show
dframe_hr

City         NY                SF
sub_value     1     2     3     1     2
0             0   100   200   300   400
1           500   600   700   800   900
2          1000  1100  1200  1300  1400
3          1500  1600  1700  1800  1900
4          2000  2100  2200  2300  2400