In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [45]:
#Grab data from internet(Something like Wikipedia and Play around with that data)

import webbrowser

web = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

webbrowser.open(web)

True

In [52]:
nfl_frame = pd.read_csv('/Users/DrithnChakrav/Desktop/CS/DataSets/irisdataset.csv')

In [53]:
nfl_frame

     s.l  s.w  p.l  p.w           class
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [54]:
nfl_frame.head()

   s.l  s.w  p.l  p.w        class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [55]:
nfl_frame.columns

Index(['s.l', 's.w', 'p.l', 'p.w', 'class'], dtype='object')

In [58]:
DataFrame(nfl_frame, columns=['s.l','s.w'])

     s.l  s.w
0    4.9  3.0
1    4.7  3.2
2    4.6  3.1
3    5.0  3.6
4    5.4  3.9
5    4.6  3.4
6    5.0  3.4
7    4.4  2.9
8    4.9  3.1
9    5.4  3.7
10   4.8  3.4
11   4.8  3.0
12   4.3  3.0
13   5.8  4.0
14   5.7  4.4
15   5.4  3.9
16   5.1  3.5
17   5.7  3.8
18   5.1  3.8
19   5.4  3.4
20   5.1  3.7
21   4.6  3.6
22   5.1  3.3
23   4.8  3.4
24   5.0  3.0
25   5.0  3.4
26   5.2  3.5
27   5.2  3.4
28   4.7  3.2
29   4.8  3.1
..   ...  ...
119  6.9  3.2
120  5.6  2.8
121  7.7  2.8
122  6.3  2.7
123  6.7  3.3
124  7.2  3.2
125  6.2  2.8
126  6.1  3.0
127  6.4  2.8
128  7.2  3.0
129  7.4  2.8
130  7.9  3.8
131  6.4  2.8
132  6.3  2.8
133  6.1  2.6
134  7.7  3.0
135  6.3  3.4
136  6.4  3.1
137  6.0  3.0
138  6.9  3.1
139  6.7  3.1
140  6.9  3.1
141  5.8  2.7
142  6.8  3.2
143  6.7  3.3
144  6.7  3.0
145  6.3  2.5
146  6.5  3.0
147  6.2  3.4
148  5.9  3.0

[149 rows x 2 columns]

In [60]:
nfl_frame['s.l']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: s.l, dtype: float64

In [61]:
nfl_frame.ix[3] #indexing, 4th row

s.l                5
s.w              3.6
p.l              1.4
p.w              0.2
class    Iris-setosa
Name: 3, dtype: object

In [62]:
nfl_frame['Test Col'] = 'This is Row'

In [63]:
nfl_frame.head()

   s.l  s.w  p.l  p.w        class     Test Col
0  4.9  3.0  1.4  0.2  Iris-setosa  This is Row
1  4.7  3.2  1.3  0.2  Iris-setosa  This is Row
2  4.6  3.1  1.5  0.2  Iris-setosa  This is Row
3  5.0  3.6  1.4  0.2  Iris-setosa  This is Row
4  5.4  3.9  1.7  0.4  Iris-setosa  This is Row

In [64]:
del nfl_frame['Test Col']

In [69]:
nfl_frame.head()

   s.l  s.w  p.l  p.w       class
0  4.9  3.0  1.4  0.2         NaN
1  4.7  3.2  1.3  0.2         NaN
2  4.6  3.1  1.5  0.2  Test Row 1
3  5.0  3.6  1.4  0.2         NaN
4  5.4  3.9  1.7  0.4  Test Row 2

In [66]:
#testRows = Series(['Test Row 1', 'Test Row 2'], index = [2,4]) #Changes value of specific rows

#nfl_frame['class']=testRows

In [68]:
#nfl_frame.head()

   s.l  s.w  p.l  p.w       class
0  4.9  3.0  1.4  0.2         NaN
1  4.7  3.2  1.3  0.2         NaN
2  4.6  3.1  1.5  0.2  Test Row 1
3  5.0  3.6  1.4  0.2         NaN
4  5.4  3.9  1.7  0.4  Test Row 2

In [72]:
#DataFrames can be constructed many ways. Another way is from a dictionary of equal length lists
data = {'City':['SF','LA','SD'], 'Population':[100000,200000,300000]}

In [73]:
data

{'City': ['SF', 'LA', 'SD'], 'Population': [100000, 200000, 300000]}

In [74]:
cityData = DataFrame(data)

In [75]:
cityData

  City  Population
0   SF      100000
1   LA      200000
2   SD      300000