In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [6]:
s1 = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

#Above statement mean:
#Generate 6 random numbers, with indexes 1 and 2 and respective vals are a,b & c

In [7]:
s1

1  a    0.711654
   b    1.280032
   c   -0.050742
2  a    1.176840
   b   -1.006682
   c   -0.227195
dtype: float64

In [8]:
s1.index #we can check multiple levels

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
s1[1] #we can check specific subsets

a    0.711654
b    1.280032
c   -0.050742
dtype: float64

In [11]:
s1[:,'a'] #we can also select from an internal index level
#Here it is all values of a

1    0.711654
2    1.176840
dtype: float64

In [12]:
#We can also create data frames from Series with multiple levels

dataframe = s1.unstack()

In [13]:
dataframe

          a         b         c
1  0.711654  1.280032 -0.050742
2  1.176840 -1.006682 -0.227195

In [16]:
dataframe.stack()

1  a    0.711654
   b    1.280032
   c   -0.050742
2  a    1.176840
   b   -1.006682
   c   -0.227195
dtype: float64

In [17]:
dataframe.unstack()

a  1    0.711654
   2    1.176840
b  1    1.280032
   2   -1.006682
c  1   -0.050742
   2   -0.227195
dtype: float64

In [18]:
# we can also apply multiple level indexing to data frames

dframe = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]], columns=[['NY','NY','LA','SF'],
                    ['cold','hot','hot','cold']])

In [19]:
dframe

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [20]:
dframe.index.names = ['INDEX_1','INDEX_2'] #We can change index level names

In [21]:
dframe.columns.names=['Cities','Temp'] #and also column level names

In [22]:
dframe

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
# we can also interchange columns

dframe.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [28]:
dframe.sortlevel(1) #sorted by index 2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [31]:
dframe.sum(level='Cities',axis=1)

Cities           LA  NY  SF
INDEX_1 INDEX_2
a       1         2   1   3
        2         6   9   7
b       1        10  17  11
        2        14  25  15

In [32]:
dframe.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27