In [4]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

import random

In [5]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2 = ser1.reindex(['A','B','C','D','E','F'], fill_value=0)

In [10]:
ser2

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

In [11]:
ser3 = Series(['US','CS','MS'],index = [0,5,10])

In [12]:
ser3

0     US
5     CS
10    MS
dtype: object

In [13]:
#Can use a forward fill for interploating values vetween indices 

ser3.reindex(range(15), method='ffill')

0     US
1     US
2     US
3     US
4     US
5     CS
6     CS
7     CS
8     CS
9     CS
10    MS
11    MS
12    MS
13    MS
14    MS
dtype: object

In [14]:
#Make a random dataframe

dframe = DataFrame(np.random.randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A  1.726424 -0.541353 -0.039214  0.104463  0.444680
B -0.020415 -0.767111  0.004534 -1.982139 -1.766561
D -0.748438 -0.888325 -0.401841 -1.005906  0.574436
E -2.182213  1.090010  0.982453  1.480974 -1.189513
F  0.848085 -1.427510  1.613229 -1.653563 -1.097359

In [16]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [17]:
new_columns=['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.726424 -0.541353 -0.039214  0.104463  0.444680   NaN
B -0.020415 -0.767111  0.004534 -1.982139 -1.766561   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.748438 -0.888325 -0.401841 -1.005906  0.574436   NaN
E -2.182213  1.090010  0.982453  1.480974 -1.189513   NaN
F  0.848085 -1.427510  1.613229 -1.653563 -1.097359   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A  1.726424 -0.541353 -0.039214  0.104463  0.444680
B -0.020415 -0.767111  0.004534 -1.982139 -1.766561
D -0.748438 -0.888325 -0.401841 -1.005906  0.574436
E -2.182213  1.090010  0.982453  1.480974 -1.189513
F  0.848085 -1.427510  1.613229 -1.653563 -1.097359

In [20]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  1.726424 -0.541353 -0.039214  0.104463  0.444680   NaN
B -0.020415 -0.767111  0.004534 -1.982139 -1.766561   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.748438 -0.888325 -0.401841 -1.005906  0.574436   NaN
E -2.182213  1.090010  0.982453  1.480974 -1.189513   NaN
F  0.848085 -1.427510  1.613229 -1.653563 -1.097359   NaN