In [24]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

import random

In [5]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2 = ser1.reindex(['A','B','C','D','E','F'], fill_value=0)

In [11]:
ser2

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

In [12]:
ser3 = Series(['US','CS','MS'],index = [0,5,10])

In [13]:
ser3

0     US
5     CS
10    MS
dtype: object

In [15]:
#Can use a forward fill for interploating values vetween indices 

ser3.reindex(range(15), method='ffill')

0     US
1     US
2     US
3     US
4     US
5     CS
6     CS
7     CS
8     CS
9     CS
10    MS
11    MS
12    MS
13    MS
14    MS
dtype: object

In [29]:
#Make a random dataframe

dframe = DataFrame(np.random.randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [30]:
dframe

       col1      col2      col3      col4      col5
A  2.122729  0.711949  0.618302 -0.198789  0.240681
B -0.918426  0.669334  1.158826  0.662348 -0.522810
D  0.514166 -0.343816  1.789761  1.195719 -0.110269
E -0.594627 -0.625274  2.137282  0.550010 -0.105815
F  0.571990  1.226164  0.665907 -0.137131  1.480735

In [32]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [41]:
new_columns=['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  2.122729  0.711949  0.618302 -0.198789  0.240681   NaN
B -0.918426  0.669334  1.158826  0.662348 -0.522810   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.514166 -0.343816  1.789761  1.195719 -0.110269   NaN
E -0.594627 -0.625274  2.137282  0.550010 -0.105815   NaN
F  0.571990  1.226164  0.665907 -0.137131  1.480735   NaN

In [42]:
dframe

       col1      col2      col3      col4      col5
A  2.122729  0.711949  0.618302 -0.198789  0.240681
B -0.918426  0.669334  1.158826  0.662348 -0.522810
D  0.514166 -0.343816  1.789761  1.195719 -0.110269
E -0.594627 -0.625274  2.137282  0.550010 -0.105815
F  0.571990  1.226164  0.665907 -0.137131  1.480735

In [ ]:
dframe.ix([])