In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
ser1 = Series(np.arange(3), index=['A','B','C'])

In [5]:
ser1 = ser1 * 2

In [7]:
ser1

A    0
B    2
C    4
dtype: int64

In [6]:
ser1['B']

2

In [9]:
ser1[0:2]

A    0
B    2
dtype: int64

In [10]:
ser1['A']

0

In [12]:
ser1[['A','B']]

A    0
B    2
dtype: int64

In [13]:
ser1[ser1>1]

B    2
C    4
dtype: int64

In [14]:
ser1[ser1>3] = 100

In [15]:
ser1

A      0
B      2
C    100
dtype: int64

In [18]:
dframe1 = DataFrame(np.arange(25).reshape(5,5), index=['LA','SF','SD','NY','FL'], columns = ['A','B','C','D','E'])

In [19]:
dframe1

     A   B   C   D   E
LA   0   1   2   3   4
SF   5   6   7   8   9
SD  10  11  12  13  14
NY  15  16  17  18  19
FL  20  21  22  23  24

In [20]:
dframe1['B']

LA     1
SF     6
SD    11
NY    16
FL    21
Name: B, dtype: int64

In [26]:
dframe1[dframe1['C']>8]

     A   B   C   D   E
SD  10  11  12  13  14
NY  15  16  17  18  19
FL  20  21  22  23  24

In [28]:
dframe1.ix['LA']

A    0
B    1
C    2
D    3
E    4
Name: LA, dtype: int64

In [29]:
dframe1.ix[1]

A    5
B    6
C    7
D    8
E    9
Name: SF, dtype: int64