In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
#Series is an array of Data, Data Labels and index

s = Series([3,6,9,12])

s

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
s[1]

6

In [4]:
s.values

array([ 3,  6,  9, 12])

In [5]:
s.value_counts

<bound method IndexOpsMixin.value_counts of 0     3
1     6
2     9
3    12
dtype: int64>

In [6]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
#Creating Series with an Index

ww2 = Series([87000,97000,10000,20000], index = ['USSR', 'Germany','France','USA'])

In [8]:
ww2

USSR       87000
Germany    97000
France     10000
USA        20000
dtype: int64

In [9]:
ww2['USA']

20000

In [10]:
ww2[ww2>20000]

USSR       87000
Germany    97000
dtype: int64

In [11]:
#Can check if USSR in created Series

'USSR' in ww2

True

In [12]:
'China' in ww2

False

In [14]:
#Can convert Series to Dict

ww2Dict = ww2.to_dict()

In [15]:
ww2Dict

{'France': 10000, 'Germany': 97000, 'USA': 20000, 'USSR': 87000}

In [16]:
ww2Series = Series(ww2Dict)

In [17]:
ww2Series

France     10000
Germany    97000
USA        20000
USSR       87000
dtype: int64

In [28]:
#Passing a Dictionary the index will have dict keys in order
countries = ['USSR','Germany','France','USA','Argentina']

In [29]:
s2 = Series(ww2,index =countries)

In [30]:
s2

USSR         87000.0
Germany      97000.0
France       10000.0
USA          20000.0
Argentina        NaN
dtype: float64

In [31]:
pd.isnull(s2) #To check if values are null

USSR         False
Germany      False
France       False
USA          False
Argentina     True
dtype: bool

In [32]:
pd.notnull(s2) # To check if values are not null

USSR          True
Germany       True
France        True
USA           True
Argentina    False
dtype: bool

In [35]:
ww2

USSR       87000
Germany    97000
France     10000
USA        20000
dtype: int64

In [36]:
s2

USSR         87000.0
Germany      97000.0
France       10000.0
USA          20000.0
Argentina        NaN
dtype: float64

In [37]:
ww2+s2

Argentina         NaN
France        20000.0
Germany      194000.0
USA           40000.0
USSR         174000.0
dtype: float64

In [38]:
s2.name = 'World War 2 Casualities' #We can name the series

In [39]:
s2

USSR         87000.0
Germany      97000.0
France       10000.0
USA          20000.0
Argentina        NaN
Name: World War 2 Casualities, dtype: float64

In [43]:
s2.index.name = 'countries' #We can name the index Col

In [44]:
s2

countries
USSR         87000.0
Germany      97000.0
France       10000.0
USA          20000.0
Argentina        NaN
Name: World War 2 Casualities, dtype: float64